/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ec008c, #fc6767); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ec008c, #fc6767);
}

.search-bar {
  margin-bottom: 2rem;
}

.search-bar input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
}

.profile-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 1rem;
  background-color: #fff;
}

.profile img {
  width: 100%;
  width: 100px;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 50%;
}

.profile h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.profile p {
  font-size: 1.2rem;
  color: #555;
}

@media (max-width: 768px) {
  .profile-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  .profile {
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  .profile img {
    margin-bottom: 0.5rem;
  }

  .profile h2 {
    font-size: 1.2rem;
  }

  .profile p {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .profile-list {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
  }

  .profile {
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  .profile img {
    margin-bottom: 0.5rem;
  }

  .profile h2 {
    font-size: 1rem;
  }

  .profile p {
    font-size: 0.9rem;
  }
}